* {
    margin: 0;
    padding: 0;
    /* desin responsivo */
    box-sizing: border-box;
    font-family: "Open Sans";
}

/**Boot CSS**/
html, body {
    /*overflow-x: hidden; não funciona com jquery*/
    height: 100%;
}

/*Resolve o erro do scroll-x no IE*/
body{
    overflow-x: hidden;
}

img {
    width: 100%;
    max-width: 400px;
}

input {
    border: 0;
}

.center {
    max-width: 1280px;
    padding: 0 2%;
    margin: 0 auto;
}

.w33 {
    width: 33.3%;
    padding: 0 10px;
}

.w50 {
    width: 50%;
    padding: 0 10px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

/**Estilização**/

header {
    background: #3d437a;
    padding: 20px 0;

}

header .logo {
    font-size: 23px;
    font-weight: 300;
    text-transform: uppercase;
}

.logo a {
    text-decoration: none;
    color: white;
}

.mobile {
    display: none;
}

nav.desktop ul {
    position: relative;
    top: 6px;
    list-style-type: none;
}

nav.desktop li {
    font-weight: 300;
    font-size: 15px;
    padding: 0 30px;
    text-transform: uppercase;
    display: inline-block;
}

nav.desktop a {
    color: white;
    text-decoration: none;
}

section.banner-container {
    width: 100%;
    height: 600px;
    /*background-image: url('../img/bg-form.jpeg');
    !* BG cubre toda a tela  *!
    background-size: cover;*/
    position: relative;

}
.banner-single{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-size: cover;
    background-position: center;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(51, 51, 51, 0.7);
    z-index: 2; /*vem primeiro que o form*/

}

section.banner-container form {
    width: 93%;
    max-width: 600px;
    z-index: 3; /*vem depois do overlay*/
    position: absolute;
    left: 50%;
    top: 50%;
    /*centralizar*/
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

section.banner-container form h2 {
    color: white;
    font-weight: 300;
    font-size: 30px;
    text-align: center;
}

section.banner-container form input[type=email] {
    width: 100%;
    height: 66px;
    margin-top: 10px;
    background: white;
    color: #333;
    font-size: 22px;
    padding-left: 10px;
    border: 0;
}

section.banner-container form input[type=submit] {
    width: 100%;
    height: 66px;
    margin-top: 10px;
    background: #00c59e;
    color: white;
    font-size: 22px;
    cursor: pointer;
    border: 0;
}

section.descricao-autor {
    padding: 40px 0;
}

section.descricao-autor h2 {
    font-size: 25px;
    font-weight: 300;
    color: #444;
}

section.descricao-autor p {
    font-size: 16px;
    color: #444;
    font-weight: 300px;
    margin-top: 10px;
    text-align: justify;
}

section.especialidades {
    padding: 40px 0;
    background: #e2e2e2;
    text-align: center;

}

section.especialidades h2.title {
    font-size: 30px;
    font-weight: 400;
    color: #999;
}

.box-especialidades {
    margin: 40px 0;
    padding: 0 30px;
}

.box-especialidades h3 {
    color: #404580;
    font-size: 40px;
}

.box-especialidades h4 {
    font-weight: 300;
    color: #bababa;
    font-size: 25px;
}

.box-especialidades p {
    color: #444;
    font-size: 15px;
    margin-top: 10px;
    text-align: justify;
}

section.extras {
    padding: 30px 0;
    background: #404580;
}

.depoimentos-container, .servicos-container {
    padding: 0 50px;
}

section.extras .title {
    color: white;
    font-weight: 300;
    font-size: 25px;
    margin-bottom: 15px;
}

.depoimento-single {
    padding: 15px 0;
    border-bottom: 1px solid #5056a0;
}

p.depoimento-descricao {
    font-size: 15px;
    color: white;
    font-weight: 300;
}

p.nome-autor {
    font-size: 15px;
    color: white;
    font-weight: bold;
    margin-top: 5px;
}

.servicos ul {
    margin: 20px 0;
    /** list-style-position: inside;dentro do container**/

}

.servicos li {
    margin-bottom: 15px;
    font-size: 15px;
    color: white;
    font-weight: 300;
}

footer {
    background: #313462;
    padding: 30px 0;
}

footer p {
    color: white;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
}

footer.fixed {
    position: fixed;
    bottom: 0;
    width: 100%;

}

section.erro-404 h2 {
    color: #444;
    font-weight: 400;
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid #444444;
    font-size: 28px;

}

section.erro-404 p {
    text-align: center;
    font-size: 16px;
    color: #444;
    font-weight: 300;
    margin-top: 8px;
}

section.erro-404 a {
    color: #444;
}

.wraper-404 {
    position: absolute;
    width: 100%;
    padding: 0 2%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

#map{
    width: 100%;
    height: 400px;
}
.contato-container{
    padding: 40px 0;
    text-align: center;
}
.contato-container input[type=text]{
    width: 100%;
    margin: 8px 0;
    height: 40px;
    border: 1px solid #ccc;
    padding-left: 8px;
    font-size: 16px;
    color:#444;
    max-width: 500px;
}

.contato-container textarea{
    width: 100%;
    margin: 8px 0;
    height: 120px;
    border: 1px solid #ccc;
    padding-left: 8px;
    font-size: 16px;
    color:#444;
    max-width: 500px;
    resize: vertical;
}
.contato-container input[type=submit]{
    background: #00c59e;
    width: 140px;
    height: 40px;
    color: white;
    cursor: pointer;
    border-radius: 3px;
}
.bullets{
    position: absolute;
    z-index: 5;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
.bullets span{
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #444;
}
.bullets span.active-slider{
    background: white;
}

.sucesso{
    display: none;
    position: fixed;
    right: 20px;
    top: 60px;
    padding: 15px 2%;
    font-size: 17px;
    color: #008000;
    background: #DFF2BF;
    font-weight: bold;
    z-index: 999;
}
.overlay-loading{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: rgba(0,0,0,0.4);
}
.overlay-loading img{
    width: 48px;
    height: 48px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}


/**MOBILE**/
@media screen and (max-width: 768px) {
    img {
        float: none !important; /*Aplicando a flutuação direto na imagem !important == reescreve a regra, força a utilizar a regra*/
        display: block;
        margin: 0 auto;
    }

    .w50 {
        padding: 20px;
        width: 100%;
    }

    .w33 {
        width: 100%;
        padding: 20px;
    }

    .box-especialidades {
        margin: 0;
        padding: 40px 20px;
    }

    section.banner-principal {
        background-size: auto;
        height: 350px;
    }
}



@media screen and (max-width: 700px) {
    nav.desktop {
        display: none;
    }

    nav.mobile {
        display: block;

    }

    nav.mobile ul {
        z-index: 3;
        position: absolute;
        left: 0;
        width: 100%;
        top: 55px;
        display: none;
        text-align: center;
    }

    nav.mobile li {
        font-weight: 300;
        width: 100%;
        font-size: 17px;
        display: block;
        background: white;
        border-bottom: 1px solid #ccc;
        padding: 8px 0;
    }

    nav.mobile a {
        color: #444;
        text-decoration: none;
        display: block;
    }

    .botao-menu-mobile {
        font-size: 24px;
        cursor: pointer;
        color: white;
    }

}

